<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>


    <!-- TODO #3 - Use the same list display from search.html -->

    <div th:if="${jobs} and ${jobs.size()}">

        <div th:each="job, idx : ${jobs}" th:class="${idx.odd} ? 'odd'">
            <table th:each="key : ${job.keySet()}">
                <tbody>
                <tr>
                    <td th:text="${#strings.capitalizeWords(key)}"></td><td th:text="${job.get(key)}"></td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>


</div>

</body>
</html>